.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    height: 70px;
    border-radius: 10px;
    font-family: 'Roboto', serif;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    transition: all $transition_04;
    background-color: $blue;
    color: $white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include media-breakpoint-down(md) {
        height: 60px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }

    &:hover {
        filter: brightness(105%);
    }

    img {
        margin-left: 6px;
    }

    &-disabled {
        opacity: .5;
        pointer-events: none;
    }

    &-rounded {
        font-size: 14px;
        line-height: 14px;
        height: 44px;
        border-radius: 50px;
    }

    &-transparent {
        background-color: transparent;
        color: $blue;
        border: 2px solid $blue;
        svg {
            path {
                transition: all $transition_04;
            }
        }
        &:hover {
            color: $darkblue;
            border-color: $darkblue;

            svg {
                path {
                    stroke: $darkblue;
                }
            }
        }
    }
    &-small {
        height: 48px;
        width: 282px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        text-transform: none;

        svg {
            margin-left: 5px;
        }
    }
    &-black {
        border: 2px solid $text-black;
        color: $text-black;
        background-color: transparent;

        &:hover {
            border-color: $blue;
            color: $blue;
        }
    }
    &-green {
        border: 2px solid $green;
        color: $green;
        background-color: transparent;

        &:hover {
            border-color: $text-black;
            color: $text-black;
        }
    }
    &.bg-lightgrey {
        background-color: $lightgrey;
        color: $text-black;
        transition: all $transition_04;
        svg path {
            transition: all $transition_04;
        }
        &:hover {
            color: $blue;
            svg path {
                fill: $blue;
            }
        }
    }
    &.bg-green {
        color: $white;
        background-color: $darkgreen;
    }

    &-add-card {
        max-width: 400px;
    }

    &-dashed {
        border-radius: 10px;
        border: 1px dashed $darkgrey;
        opacity: 0.6;
        background: $lightgrey;
        color: $text-black;
        text-transform: none;
        font-family: Roboto;
        display: flex;
        align-items: center;

        img {
            margin-left: -7px;
        }
        
        &:hover {
            opacity: 1;
        }
    }
}