.flow {
    &-wrapper {
        width: 100%;
        max-width: 990px;
    }
    &-title {
        font-family: 'Roboto';
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        @include media-breakpoint-down(md) {
            font-size: 28px;
        }
    }
    &-greeting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 65px 0 80px;
        border-radius: 10px;
        background-color: $lightblue;
        border: 2px solid $grey;

        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }

        &__text {
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;

            @include media-breakpoint-down(sm) {
                font-size: 18px;
                line-height: normal;
            }
        }
    
        &__image {
            flex: none;
            width: 112px;
            @include media-breakpoint-down(sm) {
                width: 60px;
            }
        }
    }
    &-forms {
        width: 100%;
        padding: 40px 80px;
        border: 2px solid #CCC;
        border-radius: 10px;
        box-shadow: 30px 27px 44px -18px #DBE6EF;
        @include media-breakpoint-down(sm) {
            padding: 20px;
        }

        &__title {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                align-items: center;
            }

            h2 {
                font-family: Roboto;
                font-size: 32px;
                font-style: normal;
                line-height: 32px;
                color: $text-black;
                text-transform: none;
                @include media-breakpoint-down(md) {
                    font-size: 20px;
                }
            }
        }
    
        &__steps {
            font-family: Roboto;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            color: $grey;
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
        }

        .form-row {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px;
            margin-bottom: 20px;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                margin-bottom: 10px;
                gap: 10px;
            }

            .form-item {
                width: calc(50% - 15px);
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }

        .form-item {
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }

            &__label {
                font-size: 20px;
                margin-bottom: 5px;
                @include media-breakpoint-down(md) {
                    font-size: 14px;
                }
            }
        }
    }
}

.confirm-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: $darkgrey;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 10px;
    }

    &__hint {
        max-width: 48%;
        color: $white;
        font-size: 14px;
        line-height: 15px;
        @include media-breakpoint-down(md) {
            max-width: 90%;
            font-size: 12px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        @include media-breakpoint-down(md) {
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        text-align: center;
        background-color: $white;
        border-radius: 5px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        height: 60px;
        width: 100%;
        max-width: 389px;
        cursor: pointer;
        transition: all $transition_04;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }

        &:hover {
            filter: brightness(.9);
        }
    }
}

.flow-forms {
    .custom-select {
        &__head {
            width: 100%;
            height: 60px;
            padding: 16px;
            border-radius: 5px;
            font-size: 14px;
            font-family: Roboto, serif;
            background-color: $lightgrey;
        }
    }

    input[type="text"] {
        width: 100%;
        height: 60px;
        padding: 16px;
        border-radius: 5px !important;
        font-size: 14px;
        font-family: Roboto, serif;
    }

    .calculator {
        border: none;
        width: 100%;
        max-width: 830px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0;
        padding: 40px 0;
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
    &.flow-file {
        max-width: 830px;
        background-color: $lightblue;
    }
}

.probability {
    margin-bottom: 40px;

    &__top {
        color: $darkblue;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 15px;

        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
    }

    &-scale {
        margin-bottom: 20px;
        &__wrapper {
            width: 100%;
            height: 10px;
            background-color: $lightgrey;
            border-radius: 100px;
        }
    
        &__fill {
            width: 40%;
            height: 100%;
            border-radius: 100px;
            background-color: $darkblue;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
    }

    &__hint {
        font-size: 16px;
        display: flex;
        align-items: center;

        span {
            margin-left: 20px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 14px;

            span {
                margin-left: 10px;
            }
            img {
                width: 24px;
            }

        }
    }
}

.flow-photo {
    width: 100%;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: $lightblue;
    @include media-breakpoint-down(md) {
        background-color: transparent;
    }

    &__picture {
        display: flex;
        width: 100%;
        max-width: 480px;
        height: fit-content;
        padding: 11px;
        justify-content: center;
        align-items: center;
        background-color: $white;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 30px 27px 44px -18px #DBE6EF;
        
         @include media-breakpoint-down(md) {
            border-radius: 5px;
            border: 2px solid $lightgrey;
            background: $white;
            box-shadow: 10px 7px 44px -18px #DBE6EF;
        }

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }

        img {
            width: 100%;
        }
    }
    &__description {
        font-size: 20px;
        width: 100%;
        max-width: 480px;
        margin-bottom: 40px;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .btn {
        max-width: 480px;
        height: 60px;
        font-size: 16px;
    }
}

.flow-popup {
    max-width: 462px;

    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-item {
            width: 100%;
        }
    }

    .resend {
        cursor: pointer;
    }
}

.flow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        font-size: 24px;
        text-align: center;
        line-height: 28px;
        max-width: 600px;

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__img {
        width: 160px;
        margin-bottom: 20px;

        @include media-breakpoint-down(md) {
            width: 100px;
        }
    }
    .btn {
        max-width: 480px;
        &-rounded {
            height: 60px;
            font-size: 16px;
        }
        @include media-breakpoint-down(md) {
            max-width: 280px;
        }
    }

}

.uploaded-file {
    width: 100%;
    max-width: 730px;

    &__img {
        width: 100%;
        max-width: 480px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 30px;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: 20px;

            .btn {
                max-width: 280px;
            }
        }
    }
}

.file-error-wrapper {
    max-width: 830px;
    margin-right: auto;
    margin-left: auto;

    .btn {
        max-width: 480px;
    }
}
.flow-card {
    width: 100%;
    max-width: 700px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid $lightgrey;
    background: $white;
    box-shadow: 30px 27px 44px -18px #DBE6EF;

    &__title {
        color: $text-black;

    }

    &.loan-info  {
        max-width: 450px;

        .flow-card__data {
            color: $blue;
            flex-basis: 30%;
            text-align: left;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 20px;

        @include media-breakpoint-down(md) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }
        }
    }
    &__data {
        font-family: 'Roboto', serif;
        font-weight: 600;
        text-align: right;
    }

    .btn {
        max-width: 100%;
    }

    form {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-wrapper {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    input[type="text"] {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.flow-content {

    &__icon {
        width: 160px;
    }
}

.flow-login {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    p {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    label {
        @include media-breakpoint-down(md) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
.card-added {
    font-size: 24px;
    line-height: 26px;

    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 19px;
    }
}