.footer {
    background-color: $green;
    padding: 40px 0;

    &-top {
      color: $white;
      padding-bottom: 50px;
      border-bottom: 1px solid $white;
    }

    &-menu {
      h5 {
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 10px;

        a {
          img {
            margin-right: 5px;
          }
        }
      }
    }


    &-bottom {
      padding-top: 50px;
    }



    @include media-breakpoint-down(sm) {
        &-top {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    a {
        color: $white;
        display: flex;
        align-items: center;
        transition: color $transition_04;
  
        svg {
          margin-right: 8px;
  
          path {
            transition: all $transition_04;
          }
        }
  
        &:hover {
          color: $lightgreen;
  
          svg path {
            fill: $lightgreen;
          }
        }
    }
    .mfa-logo {
        max-width: 300px;
    }
}