.footer {
    &-wrapper {
      width: 100%;
      border-radius: 90px 90px 0px 0px;
      background-color: $darkblue-bg;
      padding: 40px 50px;

      @include media-breakpoint-down(lg) {
        padding: 40px 8px;
        border-radius: 45px 45px 0px 0px;
      }

    }

    &__top {
      color: $white;
      padding-bottom: 40px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: space-between;
      .logo {
        img {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        &__text {
          margin-left: 18px;

          @include media-breakpoint-down(sm) {
            margin-left: 0;
          }
        }
        &__title {
          color: $white;
          font-size: 21px;
          font-weight: 700;
          margin-bottom: 4px;

          @include media-breakpoint-down(sm) {
            font-size: 19px;
            line-height: 19px;
          }
        }
        &__description {
          max-height: 14px;
          white-space: nowrap;
          font-size: 12px;
          line-height: 12px;
          color: $white;
          padding-left: 15px;
          border-left: 1px solid $blue;

          @include media-breakpoint-down(md) {
            font-size: 12px;
            line-height: 12px;
          }
        }

      }
    }
    &__address {
      @include media-breakpoint-down(lg) {
        order: 3;
      }
      @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__contacts {
      @include media-breakpoint-down(lg) {
        order: 2;
        margin-bottom: 10px;
      }
      
      a {
        display: block;
        color: $white;
        font-size: 32px;
        line-height: 39px;
        font-weight: 500;
      }
    }
    @include media-breakpoint-down(lg) {
        &__top {
            flex-direction: column;
            align-items: flex-start;

        }
        &__contacts {
          a {
            font-size: 21px;
            line-height: 24px;
            
            @include media-breakpoint-down(md) {
              font-size: 20px;
              line-height: 23px;
            }
          }
        }
    }
    a {
        display: flex;
        align-items: center;
        transition: color $transition_04;
  
        svg {
          margin-right: 8px;
  
          path {
            transition: all $transition_04;
          }
        }
  
        &:hover {
          // color: $lightgreen;
  
          svg path {
            // fill: $lightgreen;
          }
        }
    }
    .mfa-logo {
        max-width: 300px;
    }
    &__mob-logo {
      text-align: center;
       img {
        max-width: 400px;
       }
    }
    &__body {
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
}
.footer-menu {

		&__title {
      color: $white;
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: 700;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
		}

		&__item {
      font-size: 16px;
      margin-bottom: 10px;

      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-bottom: 6px;
      }

      a {
        color: $grey;
        display: block;
        transition: all $transition_04;

        img {
          margin-left: 4px;
          margin-bottom: 4px;
          transition: all $transition_04;
        }

        &:hover {
          color: $white;

          img {
            filter: brightness(150%)
          }
        }
      }
		}
}
.footer-bottom {
  background-color: #00101F;
  color: $white;
  padding: 12px;
  margin-bottom: -2px;

  @include media-breakpoint-down(lg) {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
  &__line {
    width: 100%;
    max-width: 338px;
    border-bottom: 1px solid $grey;
  }
}