label {
  font-family: Roboto, serif;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;

  a {
    text-decoration: underline;
  }
  &.text-14 {
    align-items: center;
  }
}
.form-row {
  display: flex;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.form-input {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;

  input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="password"]) {
    font-family: Roboto, serif;
    width: 100%;
    height: 60px;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
    background-color: $lightgrey;

    &.verify-input {
      height: 60px;
      border-radius: 12px;
      max-width: 188px;
      font-size: 21px;
      line-height: 27.3px;
      font-weight: 700;
    }

    
  }

  &.required {
    position: relative;

    &::after {
      content: '*';
      display: block;
      position: absolute;
      top: 0;
      right: -2px;
      width: 11px;
      height: 21px;
      // color: $text-red;
      font-size: 21px;
      line-height: 25.2px;
      font-weight: 500;
    }
  }

  input[type="password"],
  input.password-input{
    width: 100%;
    height: 60px;
    padding: 16px;
    border-radius: 5px !important;
    font-size: 14px;
    font-family: Roboto, serif;
    background-color: $grey_015 !important;
  }

  .show-password {
    position: absolute;
    right: 60px;
    cursor: pointer;
  }

  .input-hint {
    position: absolute;
    top: 100%;
    padding: 20px;
    display: none;
    width: 100%;
    background-color: $lightgrey;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #CCC;
    box-shadow: 0px 4px 10px 0px rgba(204, 204, 204, 0.50);
    font-size: 16px;
    z-index: 200;

    &.active {
      display: block;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
    }
    &__text {
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.form-btns {
  .btn {
    width: 100%;
  }
}
/* Кастомный input[type="checkbox"] */

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.checkbox-circle-wrapper {

}

.custom-checkbox {
  display: inline-block;
  position: relative;
  top: -4px;
  cursor: pointer;
}

.custom-checkbox::before {
  content: '';
  position: relative;
  top: 0;
  display: inline-block;
  background-image: url('../images/icons/checkbox_big_empty.svg');
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin-right: 6px;
  transition: all $transition_04;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/icons/checkbox_big_checked.svg');
  width: 28px;
  height: 28px;
  visibility: hidden;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  visibility: visible;
}

/* Кастомный input[type="radio"] */
.custom-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-radio::before {
  content: '';
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 4px;
  // border: 2px solid $darkgrey;
  border-radius: 50%;
}

.custom-radio::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 5px;
  // background-color: $green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  visibility: hidden;
}

input[type="radio"]:checked {
  & + .custom-radio::after {
    visibility: visible;
  }
}

.passport-code {
  width: calc(50% - 15px);
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.short-field {
  max-width: 145px;
}

.account-body__card {
  input[type="text"] {
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(---Dark_Gray, #A3A3A3);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: $text-black;

    @include media-breakpoint-down(lg) {
      height: 50px;
      padding: 10px;
      font-size: 24px;
    }
  }
}


// чекбокс - switch

.checkbox-switch {
	display: flex;
  align-items: center; 
	line-height: 21.6px;
	position: relative;
	font-size: 18px;
	user-select: none;	
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 19.2px;
  }
}
.checkbox-switch .checkbox-switch-mask {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 40px;	
	height: 21px;
	border-radius: 25%/50%;	
	vertical-align: top;
	background: $darkgrey;
	transition: all $transition_04;
}
.checkbox-switch .checkbox-switch-mask:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;	
	display: inline-block;
	width: 19px;	
	height: 19px;
	border-radius: 50%;
	background: white;
	transition: all $transition_04;
}
.checkbox-switch input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask {
	background: $blue;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask:before {
	transform:translateX(19px);
}
 
/* Hover */
.checkbox-switch input[type="checkbox"] + .checkbox-switch-mask {
	cursor: pointer;
}
 
/* Focus */
.checkbox-switch.focused .checkbox-switch-mask:before {
	box-shadow: inset 0px 0px 4px #ff5623;
}

input.error {
  border: 1px solid rgba(255, 0, 0, 0.40);
}
.input-error {
  display: none;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: $text-red;
  
  &.active {
    display: block;
  }
}

.custom-select {
  position: relative;
  width: 100%;

  &__head {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background-color: $lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $lightgrey;
    cursor: pointer;

    &.selected {
      color: $text-black !important;
    }

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      padding: 10px 20px;
    }

    svg {
      transition: all $transition_04;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    background-color: $white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: max-height $transition_04;
    overflow: hidden;
    z-index: 200;

    &.columned {
      column-count: 2;
      column-gap: 20px;
      @include media-breakpoint-down(md) {
        column-count: 1;
      }
    }

    .custom-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 40px;
      transition: all $transition_04;
      break-inside: avoid;
      cursor: pointer;

      img {
        margin-right: 15px;
      }

      &:hover {
        background-color: $lightgrey;
      }

      &[selected] {
        background-color: $lightgrey;
      }

      @include media-breakpoint-down(lg) {
        font-size: 18px;
        padding: 10px 20px;

        img {
          width: 24px;
        }
      }

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }


  &.active {
    .custom-select__head {
      border-radius: 10px 10px 0 0;
      border: 1px solid $darkgrey;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      svg {
        transform: rotate(180deg);
      }
    }

    .custom-select__options {
      max-height: 500px;
    }
  }
}

::placeholder {
  color: $darkgrey;
}

input[type="date"]{
  color: $darkgrey;
}

input[type="date"].selected-date {
  color: $text-black;
}

// кастомный input radio

.radio-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  cursor: pointer;

  input[type="radio"] {
      display: none;
  }

  input[type="radio"]:checked+.custom-radio::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: $blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.custom-option-radio:hover .custom-radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: $grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-select__options .custom-option-radio:hover {
  background-color: transparent;
}
.custom-select__options .custom-option-radio[selected] {
  background-color: transparent;
}
.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $text-black;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}

.radio-circle {
  background-color: transparent;
}

input[type="file"] {
  display: none;
}

.file-name {
  max-width: 100%;
  overflow: hidden;
}

.form-item {
  &__label {
    margin-bottom: 5px;
  }
}

.double-checkbox {
  cursor: pointer;

  label {
    pointer-events: none;
  }

  &.active {
    label {
      pointer-events: all;
    }

    .custom-checkbox {
      filter: grayscale(1);
    }
  }
}