.header {
  width: 100%;
  position: relative;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  z-index: 200;

  &-content {
    width: 100%;
    padding: 15px 20px;
    background-color: $lightgrey;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mob-login-btn {
    display: none;
  }
  
  @media (max-width:1120px) {
    .login-btn {
      display: none;
    }
    .mob-login-btn {
      display: block;
    }
  }
  

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: .5;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .login-btn {
        display: block;
      }
      .header__buttons {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .btn {
          width: 280px;
          margin-bottom: 20px;
        }
      }
    }

    ul li:not(:first-child) {
      margin-left: 20px;
      
      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }
    }
    a {
      color: $text-black;
      display: flex;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      transition: color $transition_04;
    }

    @include media-breakpoint-down(lg) {
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: -105vh;
      left: 0;
      opacity: 0;
      background-color: $lightgrey;
      color: $blue;
      font-weight: bold;
      z-index: 2000;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.6s ease;

      ul {
        flex-direction: column;
        li {
          margin-bottom: 20px;
          &:not(:last-child) {
            margin-right: 0;
          }
          a {
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: $text-black;
            @include media-breakpoint-down(sm) {
              font-size: 17px;
            }
            svg path {
              fill: $white;
            }

            &:hover {
              // color: $lightgreen;
      
              svg path {
                // fill: $lightgreen;
              }
            }
          }
        }
      }
      &.opened {
        opacity: 1;
        top: 0;
        transition: all 0.6s ease;
      }
    }
    
  }
  &__contacts {
    text-align: right;

    a {
      font-weight: 700;
      line-height: 16px;
      color: $text-black;
    }

    @media(max-width:1280px) {
      display: none;
    }
    @include media-breakpoint-down(lg) {
      display: block;
      margin-bottom: 120px;
      &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
      }
      a {
        font-size: 20px !important;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    width: fit-content;
    margin: 0;
  }
  @include media-breakpoint-down(lg) {
    .logo {
      max-width: 105px;
    }
    .logout-btn {
      span {
        display: none;
      }
    }
  }

  &-account {
    background-color: $white;
    border-bottom: 1px solid $darkgrey;
    padding: 0;

    .header-content {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
    .header__nav {
      justify-content: flex-end;
    }
  }
}

.mob-nav-toggler {
  position: relative;
  z-index: 2100;
  &__line {
    height: 2px;
    width: 20px;
    background-color: $blue;
    transition: all $transition_04;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &.active {
    .mob-nav-toggler__line {
      margin: 0;
      &:first-child {
        transform: rotate(-45deg) translateY(2px);
      }
      &:last-child {
        transform: rotate(45deg) translateY(-1.5px);
      }
      &:nth-child(2) {
        max-height: 0;
      }
    }
  }
}


// // header-home

// .header-home {
//   position: relative;
//   border-bottom: 2px solid #CFDAE5;
//   z-index: 1;
//   box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);
// }

// .header-home-top {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 10px;
//   padding-top: 18px;
//   padding-bottom: 18px;

//   .button {
//     line-height: 1.2;
//     font-size: 13px;
//     gap: 6px;
//   }
// }

// .header-home-logo {
//   font-size: 26px;
//   color: #00CCCD;
//   display: flex;
//   align-items: center;
//   gap: 5px;
// }

// .header-home-address {
//   &__top {
//     font-size: 14px;
//     color: #003E76;
//   }

//   &__bottom {
//     color: #A8A8A8;
//     font-size: 13px;
//   }
// }

// .header-home-bottom {
//   background-color: #E8EEF3;
// }

// .header-home-bottom__in {
//   display: flex;
//   align-items: center;
//   gap: 28px;
//   padding-top: 13px;
//   padding-bottom: 13px;
// }

// .header-home-nav {
//   display: flex;
//   align-items: center;
//   gap: 15px;
//   font-weight: 300;

//   &__item {
//     color: #000;

//     &:hover {
//       color: #00CCFA;
//     }
//   }

//   .button {
//     font-size: 16px;
//   }
// }

// .header-home-tel {
//   font-size: 19px;;
// }

// .header-home-desktop {
//   @media (max-width:1260px) {
//     display: none;
//   }
// }


// .header-home-mobile {
//   display: none;

//   @media (max-width:1260px) {
//     display: block;
//   }

//   &__in {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     gap: 10px;
//   }

//   &__info {
//     display: flex;
//     align-items: center;
//   }

//   &__logo {
//     img {
//       height: 27px;
//       width: 27px;
//     }
//     margin-right: 13px;
//   }
// }

// .burger {
//   width: 40px;
//   height: 40px;
//   background-color: #F4F8F9;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 10px;

//   svg {
//     fill: #003E76;
//   }
// }

// .menu {
//   position: fixed;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   z-index: 100;
//   visibility: hidden;

//   &.active {
//     visibility: visible;
//     .menu-overlay {
//       opacity: .7;
//       visibility: visible;
//     }
//     .menu-in {
//       visibility: visible;
//       transform: translateX(0);
//     }
//   }
// }

// .menu-overlay {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   background-color: #8F8F8F;
//   opacity: 0;
//   visibility: hidden;
//   transition: .3s all ease;
// }

// .menu-in {
//   position: relative;
//   font-size: 16px;
//   background-color: $white;
//   padding: 20px 20px;
//   width: 100%;
//   max-width: 280px;
//   border-top-right-radius: 20px;
//   border-bottom-right-radius: 20px;
//   height: 100%;
//   transition: .3s all ease;
//   transform: translateX(-100%);
//   visibility: hidden;
// }

// .menu-top {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   margin-bottom: 60px;
// }

// .menu-cross {
//   width: 41px;
//   height: 41px;
//   background-color: #F4F8F9;
//   border-radius: 50%;
//   svg {
//     fill: #003E76;
//   }
// }

// .menu-logo {
//   img {
//     height: 27px;
//     width: 27px;
//   }
// }

// .menu-nav {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 10px;
//   margin-bottom: 40px;

//   &__link {
//     font-weight: 500;
//     color: #003E76;
//   }
// }

// .menu-contacts {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   margin-bottom: 20px;

//   &__link {
//     color: #003E76;
//   }
// }