// Theme colors
$white: rgba(255, 255, 255, 1);
$text-black: rgba(21, 21, 21, 1);
$black_02: rgba(0, 0, 0, 0.2);

$text-red: rgba(255, 0, 0, 1);
$bg-red: #DD2525;

$darkblue: rgba(0, 62, 118, 1);
$blue: rgba(0, 204, 250, 1);
$darkblue-bg: rgba(0, 32, 61, 1);
$blue_034: rgba(0, 204, 250, 0.34);

$darkgrey: rgba(75, 79, 88, 1);
$grey_015: rgba(163, 163, 163, 0.15);
$grey: rgba(163, 163, 163, 1);
$lightgrey: rgba(243, 246, 252, 1);

$darkgreen: #6BD390;
$green: rgba(107, 211, 144, 1);

// Transitions
$transition_04: 0.4s ease; 

// Grid
$grid-gutter-width: 20px;
$container-max-widths: (
        md: 991px,
        lg: 1500px,

);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1500px
);