<div class="account-menu-btn">
    Меню
    <img src="images/buttons/menu.svg" alt="меню">
</div>

<div class="account-menu-modal">
    <div class="account-menu">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-loan.html" class="account-menu__item">

                    <div class="account-menu__pic">
                        <img src="images/icons/account-main.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Главная
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-my-cards.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/account-menu_card.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Мои Карты
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-history.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/account-menu_history.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        История займов
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-docs.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/account-menu_docs.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Документы
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-files.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/account-menu_files.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Мои файлы
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-files.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/my-appeals.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Мои обращения
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-6">
                <a href="account-files.html" class="account-menu__item">
                    <div class="account-menu__pic">
                        <img src="images/icons/my-account.png" width="100%" alt="изображение пункта меню">
                    </div>
                    <div class="account-menu__title">
                        Личный кабинет
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="account-menu-btn account-menu-close">
        Закрыть
        <img src="images/buttons/account-menu-close.svg" alt="закрыть">
    </div>
</div>
