<header class="header header-flow">
    <div class="container">

        <div class="header-content justify-content-center">
            <a href="index.html" class="logo">
                <picture>
                    <source media="(min-width: 992px)" srcset="images/Logo.svg">
                    <source media="(max-width: 991px)" srcset="/images/logo-mobile.png">
                    <img src="images/logo-mobile.png" alt="логотип">
                </picture>
            </a>
        </div>

    </div>
</header>