<footer class="footer">
    <div class="container">
        <div class="row footer-top">
             <div class="col-lg-4 col-md-12 mb-md-40">
                <a href="#" class="footer__logo mb-40">
                    <img src="images/footer_logo.svg" alt="логотип ФинФреш">
                </a>
                <p>FinFresh— простой, удобный и быстрый сервис онлайн-займов. Создан для тех, кто ценит свое время. Работаем 24/7 по всей территории РФ.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1 mb-sm-20">
                <div class="footer-menu">
                    <h5>Быстрые ссылки</h5>

                    <ul>
                        <li>
                            <a href="">
                                Как получить
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Как погасить
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Правовая информация
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer-menu">
                    <h5>Связь с нами</h5>

                    <ul>
                        <li>
                            <a href="tel:88005555555">
                                <img src="images/icons/call.svg" alt="">
                                8 800 555 55 55
                            </a>
                        </li>
                        <li>
                            Клиентский сервис
                            <a href="mailto:doc@fin-fresh.ru">
                                doc@fin-fresh.ru
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Шаблоны заявлений
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-lg-6 mb-md-40">
                
                <div class="footer-info text-white text-14 text-500">
                    <p class="mb-20">Полное наименование: <br> Общество с ограниченной ответственностью Микрокредитная компания «Финфреш»  (ООО МКК «Финфреш») <br>ИНН 9724097843<br>ОГРН 1227700562517</p>

                    <p class="mb-20">Регистрационный номер записи в государственном реестре микрофинансовых организаций 2203045009933.<br> Дата внесения 5.15.2022 г.</p>

                    <p class="mb-20">Юридический  адрес  ООО МКК "Финфреш": <br>115230, Г. МОСКВА, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ НАГАТИНО-САДОВНИКИ, ПР. ХЛЕБОЗАВОДСКИЙ, Д. 7, СТР. 9, ПОМЕЩ. 33/Н, КОМНАТА 8 ОФИС 511</p>

                    <p class="mb-20">Почтовый и фактический адрес  ООО МКК "Финфреш": <br>115230, Г. МОСКВА, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ НАГАТИНО-САДОВНИКИ, ПР. ХЛЕБОЗАВОДСКИЙ, Д. 7, СТР. 9, ПОМЕЩ. 33/Н, КОМНАТА 8 ОФИС 511</p>

                    <p>ООО МКК «Финфреш» не привлекает денежные средства физических лиц, в том числе индивидуальных предпринимателей, не являющихся учредителями организации.</p>

                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 text-500">
                <div class="mb-20">
                    <a href="https://www.cbr.ru" target="_blank" class="underlined text-500">Официальный сайт Банка России</a>
                </div>
                <div class="mb-20">
                    <a href="https://www.cbr.ru/microfinance/registry" target="_blank" class="underlined text-500">Реестры субъектов рынка микрофинансирования</a>
                </div>
                <div class="mb-20">
                    <a href="https://www.cbr.ru/reception" target="_blank" class="underlined text-500">Интернет-приемная Банка России</a>
                </div>

                <div class="mb-20 text-white text-14">
                    Потребители финансовых услуг имеют 
                    право направить обращение финансовому 
                    уполномоченному <br>
                    119017, г. Москва, Старомонетный пер., дом 3 <br>
                    8 (800) 200-00-10 <br>
                    <a href="https://finombudsman.ru" class="mt-4">https://finombudsman.ru</a>
                </div>

                <div class="mfa-logo text-white text-14">
                    <img src="images/footer/MFA.png" width="100%" alt="логотип микрофинансовый альянс">
                    <p class="mt-8">
                        Член СРО с 10.02.2023 г. <br>
                        125367 г. Москва Полесский проезд 16
                        Стр.1, офис 308
                    </p>
                    <a href="https://alliance-mfo.ru">https://alliance-mfo.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="./js/swiper-bundle.min.js"></script>
<script src="./js/inputmask.js"></script>
<script src="./js/scripts.js"></script>

</div> <!-- end of #app -->