<div class="main-info-mobile">
    <div class="main-info-mobile__card">
        <div class="main-info-mobile__title">
            <span>Вопросы и ответы</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Arrow">
                <path id="Vector" d="M19 9L12 16L5 9" stroke="#A3A3A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
        <div class="main-info-mobile__body">
            <div class="faq">
                <div class="faq__item info-tabs__item">
                    <div class="faq__question d-flex justify-content-between">
                        <div class="question">
                            
                            Кто может взять микрозайм?
                        </div>
                        <div>
                            <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Component 1">
                                    <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__answer text-grey text-500">
                        <div class="mt-10">Текст о том, как взять микрозайм в МФО.</div>
                        
                    </div>
                </div>
                
                <div class="faq__item info-tabs__item">
                    <div class="faq__question d-flex justify-content-between">
                        <div class="question">
                            
                            Как повысить вероятность одобрения?

                        </div>
                        <div>
                            <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Component 1">
                                    <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__answer text-grey text-500">
                        <div class="mt-10">Текст о том, как повысить вероятность одобрения во время взятия займа в МФО.</div>
                        
                    </div>
                </div>
    
                <div class="faq__item info-tabs__item">
                    <div class="faq__question d-flex justify-content-between">
                        <div class="question">
                            
                            Как избежать просрочки?
                        </div>
                        <div>
                            <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Component 1">
                                    <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="faq__answer text-grey text-500">
                        <div class="mt-10">Текст о том, как избежать отсрочки во время взятия займа в МФО.</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-info-mobile__card">
        <div class="main-info-mobile__title">
            <span>Другая информация</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Arrow">
                <path id="Vector" d="M19 9L12 16L5 9" stroke="#A3A3A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
        <div class="main-info-mobile__body">
            <div class="info-tabs__item">
                <a href="#">
                    Ссылки на официальный сайт Банка России в информационно-телекоммуникационной сети "Интернет" (далее - сайт Банка России) и на страницу сайта Банка России...
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">
                    Ссылка на страницу интернет-приемной Банка России на сайте Банка России.
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">
                    Информация о праве потребителей финансовых услуг направить обращение финансовому уполномоченному
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">
                    Информация о наличии предписания Банка России, полностью или частично ограничивающего осуществление микрофинансовой организацией привлечения денежных средств, выдачи займов, проведение иных операций
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">
                    Информация о кредитном рейтинге
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">
                    Персональный состав органов управления микрофинансовой организации
                </a>
            </div>
        </div>
    </div>

    <div class="main-info-mobile__card">
        <div class="main-info-mobile__title">
            <span>Документы</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Arrow">
                <path id="Vector" d="M19 9L12 16L5 9" stroke="#A3A3A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
        <div class="main-info-mobile__body">
            <div class="info-tabs__item">
                <a href="#">Общие условия
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">Правила предоставления микрозайма
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">Правила №195 комбинированного страхования
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
            </div>
            <div class="info-tabs__item">
                <a href="#">Свидетельство о постановке на учет
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
            <div class="info-tabs__item">
                <a href="#">Политика обработки и защиты персональных данных
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
            <div class="info-tabs__item">
                <a href="#">Базовый стандарт МФО
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
            <div class="info-tabs__item">
                <a href="#">Информация об условиях предоставления, использования и возврата микрозайма
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
            <div class="info-tabs__item">
                <a href="#">Согласие СОПД
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
            <div class="info-tabs__item">
                <a href="#">Свидетельство о внесении в реестр МФО
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                    </svg>
                </a>
                
            </div>
        </div>
    </div>

    <div class="main-info-mobile__card">
        <div class="main-info-mobile__title">
            <span>Реквизиты</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Arrow">
                <path id="Vector" d="M19 9L12 16L5 9" stroke="#A3A3A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
        <div class="main-info-mobile__body">
            
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Полное наименование: 
                </div>
                <div class="requisite-data">
                    Общество с ограниченной ответственностью Микрокредитная Компания "x"
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Сокращённое наименование:
                </div>
                <div class="requisite-data">
                    ООО МКК "x"
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    ИНН:                            
                </div>
                <div class="requisite-data">
                    1111111111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    КПП: 
                </div>
                <div class="requisite-data">
                    111111111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    ОГРН:
                </div>
                <div class="requisite-data">
                    1111111111111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    ОКПО:
                </div>
                <div class="requisite-data">
                    11111111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Расчетный счет:
                </div>
                <div class="requisite-data">
                    10101110111110000011
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Банк: 
                </div>
                <div class="requisite-data">
                    ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"                            
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    БИК: 
                </div>
                <div class="requisite-data">
                    011010111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Корр. счет: 
                </div>
                <div class="requisite-data">
                    10101110100000000111
                </div>
            </div>
            <div class="info-tabs__item requisites__mob-item">
                <div class="requisite-name">
                    Юридический адрес: 
                </div>
                <div class="requisite-data">
                    информация о юридическом адресе
                </div>
            </div>

        </div>
    </div>
    
</div>