<div class="main-info-desktop">
    <div class="info-tabs tabs custom-column-big">
        <ul class="nav nav-tabs about-nav mb-20" id="about-tab" role="tablist">
            <li class="nav-item mr-30 mr-md-0" role="presentation">
                <button class="nav-link active" id="faq-tab">Вопросы и ответы</button>
            </li>
            <li class="nav-item mr-30 mr-md-0" role="presentation">
                <button class="nav-link" id="other-info-tab">Другая информация</button>
            </li>
            <li class="nav-item mr-30 mr-md-0" role="presentation">
                <button class="nav-link" id="docs-tab">Документы</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="requisites-tab">Реквизиты</button>
            </li>
        </ul>

        <div class="tab-content pt-48" id="about-tabs">
            <div class="tab-pane fade show active" id="faq"aria-labelledby="faq-tab">

                <div class="faq">
                    <div class="faq__item info-tabs__item">
                        <div class="faq__question d-flex justify-content-between">
                            <div class="question">
                                <span class="item-number">01</span>
                                Кто может взять микрозайм?
                            </div>
                            <div>
                                <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 22L22 2M22 2V22M22 2H2" stroke="#151515" stroke-width="2"/>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__answer text-grey text-500">
                            <div class="mt-10">Текст о том, как взять микрозайм в МФО.</div>
                            
                        </div>
                    </div>
                    
                    <div class="faq__item info-tabs__item">
                        <div class="faq__question d-flex justify-content-between">
                            <div class="question">
                                <span class="item-number">02</span>
                                Как повысить вероятность одобрения?

                            </div>
                            <div>
                                <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 22L22 2M22 2V22M22 2H2" stroke="#151515" stroke-width="2"/>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__answer text-grey text-500">
                            <div class="mt-10">Текст о том, как повысить вероятность одобрения во время взятия займа в МФО.</div>
                            
                        </div>
                    </div>
        
                    <div class="faq__item info-tabs__item">
                        <div class="faq__question d-flex justify-content-between">
                            <div class="question">
                                <span class="item-number">03</span>
                                Как избежать просрочки?
                            </div>
                            <div>
                                <svg class="burger-toggler" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 22L22 2M22 2V22M22 2H2" stroke="#151515" stroke-width="2"/>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__answer text-grey text-500">
                            <div class="mt-10">Текст о том, как избежать отсрочки во время взятия займа в МФО.</div>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="other-info" aria-labelledby="other-info-tab">
                <div class="info-tabs__item">
                    <span class="item-number">01</span>
                    <a href="#">
                        Ссылки на официальный сайт Банка России в информационно-телекоммуникационной сети "Интернет" (далее - сайт Банка России) и на страницу сайта Банка России...
                    </a>
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">02</span>
                    <a href="#">
                        Ссылка на страницу интернет-приемной Банка России на сайте Банка России.
                    </a>
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">03</span>
                    <a href="#">
                        Информация о праве потребителей финансовых услуг направить обращение финансовому уполномоченному
                    </a>
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">04</span>
                    <a href="#">
                        Информация о наличии предписания Банка России, полностью или частично ограничивающего осуществление микрофинансовой организацией привлечения денежных средств, выдачи займов, проведение иных операций
                    </a>
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">05</span>
                    <a href="#">
                        Информация о кредитном рейтинге
                    </a>
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">06</span>
                    <a href="#">
                        Персональный состав органов управления микрофинансовой организации
                    </a>
                </div>
            </div>

            <div class="tab-pane fade" id="docs" aria-labelledby="docs-tab">
                <div class="info-tabs__item">
                    <span class="item-number">01</span>
                    <a href="#">Общие условия
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">02</span>
                    <a href="#">Правила предоставления микрозайма
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">03</span>
                    <a href="#">Правила №195 комбинированного страхования
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">04</span>
                    <a href="#">Свидетельство о постановке на учет
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">05</span>
                    <a href="#">Политика обработки и защиты персональных данных
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">06</span>
                    <a href="#">Базовый стандарт МФО
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">07</span>
                    <a href="#">Информация об условиях предоставления, использования и возврата микрозайма
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">08</span>
                    <a href="#">Согласие СОПД
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="info-tabs__item">
                    <span class="item-number">09</span>
                    <a href="#">Свидетельство о внесении в реестр МФО
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector 1" d="M13 0V24M13 24L1 12M13 24L25 12" stroke="#151515" stroke-width="2"/>
                        </svg>
                    </a>
                    
                </div>
                <div class="show-all text-grey underlined text-center mt-20">
                    Показать весь список
                </div>
            </div>


            <div class="tab-pane fade" id="requisites" aria-labelledby="requisites-tab">
                <div class="requisites__item">
                    <div class="requisite-name">
                        Полное наименование: 
                    </div>
                    <div>
                        Общество с ограниченной ответственностью Микрокредитная Компания "x"
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        Сокращённое наименование:
                    </div>
                    <div>
                        ООО МКК "x"
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        ИНН:                            
                    </div>
                    <div>
                        1111111111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        КПП: 
                    </div>
                    <div>
                        111111111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        ОГРН:
                    </div>
                    <div>
                        1111111111111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        ОКПО:
                    </div>
                    <div>
                        11111111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        Расчетный счет:
                    </div>
                    <div>
                        10101110111110000011
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        Банк: 
                    </div>
                    <div>
                        ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"                            
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        БИК: 
                    </div>
                    <div>
                        011010111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        Корр. счет: 
                    </div>
                    <div>
                        10101110100000000111
                    </div>
                </div>
                <div class="requisites__item">
                    <div class="requisite-name">
                        Юридический адрес: 
                    </div>
                    <div>
                        информация о юридическом адресе
                    </div>
                </div>
            </div>
        </div>

        

    </div>

</div>