<footer class="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer__top">
                <a href="#" class="logo for-desktop">
                    <img src="images/Logo.svg" width="353px" alt="Логотип компании">
                </a>
                <div class="footer__contacts">
                    <div class="for-devices">
                        Наши контакты
                    </div>
                    <a href="tel:+79123456789" class="text-24">+7 (912) 345-67-89</a>
                    <a href="mailto:info@creditboost.com" class="uppercase text-24">info@creditboost.com</a>
                </div>
            </div>
            <div class="footer__bottom text-grey pt-40 pb-20">
                <div class="row">
                    <div class="col-lg-4 mb-md-20">
                        <p class="mb-20">Полное наименование и сокращенное наименование(при наличии)</p>
                        <p>ИНН</p>
                        <p>ОГРН</p>
                    </div>
                    <div class="col-lg-4 mb-md-20">
                        <p>
                            Место непосредственного ведения деятельности микрофинансовой организации, режим работы микрофинансовой организации, а также номера телефонов микрофинансовой организации
                        </p>
                    </div>
                    <div class="col-lg-4 mb-md-20">
                        <div class="d-flex align-items-center justify-content-between mb-40">
                            <div class="">
                                <img src="images/icons/mastercard.svg" alt="карта мастеркард">
                            </div>
                            <div class="">
                                <img src="images/icons/maestro.svg" alt="карта маэстро">
                            </div>
                            <div class="">
                                <img src="images/icons/mir.png" alt="карта мир">
                            </div>
                            <div class="">
                                <img src="images/icons/visa.svg" alt="карта виза">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="for-devices footer__mob-logo">
                    <img src="images/Logo.svg" width="100%" alt="Логотип компании">
                </div>
            </div>
        </div>
    </div>

    
</footer>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/inputmask.js"></script>
<script src="./js/main.js"></script>
