<div class="schedule-modal pb-0">
    <div class="container">

        <div class="schedule-wrapper">
            <div class="schedule-top">
                <div>
                    График платежей
                </div>
                <button class="schedule-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#151515" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="schedule-body">
                <div class="schedule-row schedule-head">
                    <div class="schedule-row__item">Рекомендованная <br> дата погашения</div>
                    <div class="schedule-row__item">Платеж по графику</div>
                    <div class="schedule-row__item">Просрочка</div>
                    <div class="schedule-row__item">Сумма к оплате</div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item date">
                        <div class="schedule-row__data">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item sum">
                        <div class="schedule-row__name">
                            Платеж по графику
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="schedule-row__name">
                            Просрочка
                        </div>
                        <div class="schedule-row__data">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum">
                        <div class="schedule-row__name">
                            Сумма к оплате
                        </div>
                        <div class="schedule-row__data"><span>2500</span> руб.</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>